@model StockListModel

@{
    ViewData["Title"] = "Stocks";
}
@Html.AntiForgeryToken()
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Stocks</h1>
                <a class="btn btn-primary btn-sm mt-2" asp-area="Admin" asp-controller="Stocks" asp-action="Create">
                    <i class="fas fa-plus"></i>
                    Create
                </a>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="/">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Stocks</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">All stocks</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="stocksTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ProductName</th>
                                    <th>Stock Amout</th>
                                    <th>Category</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var stock in Model.Stocks)
                                {
                                    <tr>
                                        <td>@stock.ProductName</td>
                                        <td>@stock.StockAmout</td>
                                        <td>@stock.CategoryName</td>
                                        <td>
                                            <a class="btn btn-info btn-sm" asp-area="Admin" asp-controller="Stocks" asp-action="Edit" asp-route-id="@stock.Id">
                                                <i class="fas fa-pencil-alt"></i>
                                                Edit
                                            </a>
                                            <!--
                                            <a class="btn btn-danger btn-sm" onclick="deleteStock('@stock.Id')">
                                                <i class="fas fa-trash"></i>
                                                Delete
                                            </a>
                                            -->
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>ProductName</th>
                                    <th>Stock Amout</th>
                                    <th>Category</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->