@model ProfileIndexModel

@{
    ViewData["Title"] = "Profile";
}

<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Dashboard</h1>
                    <ol class="breadcrumb">
                        <li>
                            <a asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="active">Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li>
                        <a class="active" asp-controller="Profile" asp-action="Index">Dashboard</a>
                    </li>
                    <li>
                        <a asp-controller="Profile" asp-action="Orders">Orders</a>
                    </li>
                    <li>
                        <a asp-controller="Profile" asp-action="Details">Profile Details</a>
                    </li>
                </ul>
                <div class="dashboard-wrapper user-dashboard">
                    <div class="media">
                        <div class="pull-left">
                            <img class="media-object user-img" src="@Model.ProfilePictureUrl" alt="Image">
                        </div>
                        <div class="media-body">
                            <h2 class="media-heading">Welcome @Model.FullName</h2>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, iure, est. Sit mollitia est maxime! Eos
                                cupiditate tempore, tempora omnis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, nihil.
                            </p>
                        </div>
                    </div>
                    <div class="total-order mt-20">
                        <h4>Total Orders</h4>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Total Orders</th>
                                        <th>Completed Orders</th>
                                        <th>Pending Orders</th>
                                        <th>Total Spend</th>
                                        <th>Total Item Bought</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@Model.TotalOrders</td>
                                        <td>@Model.CompletedOrders</td>
                                        <td>@Model.PendingOrders</td>
                                        <td>$@Model.TotalSpend</td>
                                        <td>@Model.TotalProducts</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>