@model CategoryListModel
@{
    ViewData["Title"] = "Categories";
}
@Html.AntiForgeryToken()
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Categories</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item active">Categories</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">All categories</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="categoriesTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Desccription</th>
                                    <th>Main Category</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model.Categories)
                                {
                                    <tr>
                                        <td>@category.Name</td>
                                        <td>@category.Description</td>
                                        <td>@category.MainCategory</td>
                                        <td>
                                            <a class="btn btn-info btn-sm" asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id">
                                                <i class="fas fa-pencil-alt"></i>
                                                Edit
                                            </a>
                                            <a class="btn btn-danger btn-sm" onclick="deleteCategory('@category.Id')">
                                                <i class="fas fa-trash"></i>
                                                Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Desccription</th>
                                    <th>Main Category</th>
                                    <th>Actions</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

@section Styles{
    <link href="~/lib/sweetalert2/css/sweetalert2.min.css" rel="stylesheet" />
}

@section Scripts{
    <script src="~/lib/sweetalert2/js/sweetalert2.all.min.js"></script>
    <script>
        function deleteCategory(id){
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        dataType: 'json',
                        url: "@Url.Action("Delete", "Categories")",
                        headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                        traditional: true,
                        data: {
                            id: id
                        },
                        success: function (result) {
                            Swal.fire({
                                title: '<strong>' + result + '</strong>',
                                icon: 'success',
                                html: '<strong>' + result + '</strong>',
                            }).then((result) => {
                                window.location.reload();
                            });
                        }
                    });
                }
            })
            
        }
    </script>
}